
@import './var';
@import './animate';

.clearfix {
  clearfix();
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: #333;
  font-size: 16px;
  overflow-x: auto;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system-font, "PingFang SC", "Helvetica Neue", 'Avenir', Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  vertical-align: middle;
}

// ul,
// ol {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ececec;
}
